@font-face {
    font-family: rick-font;
    src: url('../../../../fonts/shlop/shlop-rg.ttf');
}

.featuredContentContainer {
    display: flex;
    width: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.featuredContentContainer img {
    height: auto;
    width: 100%;
    object-fit: cover;
}
.featuredText {
    position: absolute;
}
.featuredText h1 {
    font-family: rick-font;
    color: #399fda;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c0e620;
    margin: 0;
    font-size: 62px;
}

@media (max-width: 576px) { 
    .featuredText h1 {
        font-size: 32px;
    }
}