.aboutContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.aboutContainer img {
    background-color: #111111;
    object-fit: cover;
    width: 40%;
    height: auto;
}
.aboutTextContainer {
    width: 60%;
    padding: 20px;
    text-align: center;
}

@media (max-width: 576px) { 
    .aboutContainer {
        margin-top: 10px;
    }
}

@media (max-width: 768px) { 
    .aboutContainer {
        flex-direction: column;
    }
    .aboutContainer img {
        width: 100%;
    }
}
