.aboutContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #b1b1b1;
}
.aboutContainer img {
    background-color: #111111;
    object-fit: cover;
    width: 40%;
    height: auto;
}
.aboutTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    padding: 20px;
    text-align: center;
}
.aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #ffffff;
    width: 80%;
    padding: 60px;
}
.aboutText h1 {
    border-bottom: 2px solid #6d6d6d;
    width: 10%;
}

@media (max-width: 576px) { 
    .aboutContainer {
        margin-top: 10px;
    }
}

@media (max-width: 768px) { 
    .aboutContainer {
        flex-direction: column;
    }
    .aboutContainer img {
        width: 100%;
    }
}
