$ColorPrimary: #f1f1f1;
$ColorSecondary: #111111;

.examplesCardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $ColorSecondary;
    width: 90%;
    margin: 10px 0px;
    padding-bottom: 50px;
    border-radius: 32px;
}
.cardsTextExamples {
    color: $ColorPrimary;
    font-weight: bold;
    font-size: 32px;
    margin-top: 15px;
    margin-bottom: 0px;
}
.exampleCards {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.randomCards  {
    margin: 20px;
    h2 {
        color: $ColorPrimary;
    }
}
@media (max-width: 576px) { 
    .examplesCardsContainer {
        width: 100%;
        border-radius: 0;
        margin-top: 20px;
    }
    .randomCards {
        margin: 0;
    }
}