$colorPrimary: #191919;
$colorFooter: #505050;
$colorFooterBackground: #c4c4c4;
$colorLink: #3f7fd3;

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $colorPrimary;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer {
    background-color: $colorFooterBackground;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 20px;
    padding: 15px;
    color: $colorFooter;
    a {
        color: $colorLink;
    }
    a:visited {
        color: $colorLink;
    }
}
