.card {
    background-color: #464646;
    width: 390px;
    height: 180px;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 4px 4px 8px 1px rgba(0, 0, 0, 0.3);
}
.cardImg {
    width: 180px;
    height: 180px;
}
.cardImg img {
    border-radius: 8px 0px 0px 8px;
    object-fit: cover;
    width: 180px;
    height: 100%;
}
.cardText {
    display: flex;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: #d4d4d4;
}
.cardText div {
    padding-left: 10px;
    margin: 5px;
}

@media (max-width: 800px) { 
    .card {
        width: 305px;
    }
    .cardImg {
        width: 160px;
        height: 100%;
    }
    .cardImg img {
        width: 160px;
        height: 100%;
    }
    .cardText div {
        font-size: 13px;
    }
}